<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fisheye converter</title>
    {{ analytics }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>‌​
</head>

<h2>Fisheye converter</h2>

{% if error %}
	<pre class="error">
Errors:
{{error}}
  </pre>
{% endif %}

{% from "_formhelpers.html" import render_field %}
<form action="" method="post" enctype="multipart/form-data">
  <dl>
    {{ form.csrf_token }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.video) }}
    {{ render_field(form.output_codec) }}
    {{ render_field(form.angle_rotation) }}
    <div id="custom-rotation-angle" style="display: none">
      {{ render_field(form.angle) }}
      {{ render_field(form.rotation) }}
    </div>
  </dl>
  <p><input type=submit value=Convert>
</form>

<script type="text/javascript">
  var toggle_custom_angle_rotation = function() {
    if ($('#angle_rotation').val() === "custom") {
      $("#custom-rotation-angle").show();
    } else {
      $("#custom-rotation-angle").hide();
    }
  };
  $( window ).load(function() {
    toggle_custom_angle_rotation();
  });

  $('#angle_rotation').on('change', function() {
    toggle_custom_angle_rotation()
  });
</script>

</html>